
.main {
  position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    
    .title {
      text-align: center;
      font-size: 40px;
      padding: 20px;
  }
  .content {
      flex: 1;
      display: flex;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      > div {
          display: inline-block;
          text-align: center;
      }
  }
}